privious recap -> string comprehension done

In [2]:
#integer #float

In [3]:
var=5

In [4]:
print(var)

5

In [5]:
var2=10

In [7]:
sums=var2+var

In [8]:
print(sums)

15

In [9]:
#can string be added

In [10]:
str1= "subham"

In [11]:
str2="jasmine"

In [12]:
str3=str1+str2

In [13]:
print(str3)

subhamjasmine

In [14]:
var3=5.78

In [15]:
sums=var2+var+var3

In [17]:
print(sums)

20.78

In [19]:
print('raju earns Rs sums')

raju earns Rs sums

In [23]:
str4='15'

In [24]:
type(str4)

str

In [25]:
var=int(str4)

In [26]:
print(var)

15

In [27]:
type(var)

int

In [29]:
type(str(var))

str

In [30]:
var5='raju earns Rs '+str(sums)

In [31]:
print(var5)

raju earns Rs 20.78

In [32]:
#boolean

In [33]:
var6=True

In [34]:
type(var6)

bool

In [38]:
print(var5+':'+str(var6))

raju earns Rs 20.78:True

In [40]:
#list

In [42]:
var7=[]

In [43]:
print(var7)

[]

In [44]:
type(var7)

list

In [45]:
var7=[1,2,3,4,5,6]

In [46]:
print(var7)

[1, 2, 3, 4, 5, 6]

In [47]:
#finding elements on the basis of indexes 0->n

In [48]:
var7[0]

1

In [49]:
var7[1]

2

In [50]:
var7[1:4]

[2, 3, 4]

In [52]:
#defining list method3

In [53]:
var=list()

In [55]:
print(var)

[]

In [56]:
#adding data to a list

In [57]:
var.append(10)# adds data to the last of the list

In [58]:
print(var)

[10]

In [59]:
var.append(15)

In [63]:
print(var)

[10, 15]

In [61]:
var[1]

15

In [62]:
#insert

In [64]:
var.insert(0,17)

In [65]:
print(var)

[17, 10, 15]

In [66]:
#delete

In [67]:
#two methods

In [68]:
del var[1]

In [70]:
print(var)

[17, 15]

In [71]:
var.remove(15)

In [72]:
print(var)

[17]

In [73]:
#this is a question ?

In [75]:
#if it deletes at all instances or only 1.if it deletes only one isntance then think how to delete all instances

In [76]:
list1=[1,2,3,4]

In [78]:
list2=['shashank','subham',15.04,True,100]

In [79]:
print(list1,list2)

[1, 2, 3, 4] ['shashank', 'subham', 15.04, True, 100]

In [85]:
type(list2[4])

int

In [86]:
print(list1+list2)

[1, 2, 3, 4, 'shashank', 'subham', 15.04, True, 100]

In [87]:
list4=[100,8,10,98,34]

In [89]:
list4.sort()

In [90]:
print(list4)

[8, 10, 34, 98, 100]

In [91]:
type(list4)

list

In [92]:
#values of list to be printed

In [97]:
for everything in list4:
    print(everything)

8
10
34
98
100

In [98]:
for jo_bhi_hai in list4:
    print(jo_bhi_hai)

8
10
34
98
100

In [99]:
#sets

In [100]:
list5=[1,1,1,2,2,2,3,3,3,5,5,5]

In [103]:
print(set(list5))

{1, 2, 3, 5}

In [107]:
#dictionary method1

In [108]:
mydict=dict()

In [109]:
print(mydict)

{}

In [110]:
mydict['aata']=1

In [111]:
print(mydict)

{'aata': 1}

In [112]:
mydict['pyaz']=2

In [114]:
mydict['chawal']=None

In [115]:
print(mydict)

{'aata': 1, 'pyaz': 2, 'chawal': None}

In [116]:
mydict['chawal']=5

In [117]:
print(mydict)

{'aata': 1, 'pyaz': 2, 'chawal': 5}

In [118]:
#searching in list

In [120]:
list10=[1,2,3,4,5,6,7,8]

In [127]:
i=0
for values in list10:
    print(i)
    if values==7:
        print('got the values '+str(values))
    i+=1

0
1
2
3
4
5
6
got the values 7
7

In [128]:
mydict['pyaz']

2

In [129]:
#dictionary is faster key value pairs

In [130]:
dict1={'brush':10,'motorcycle':1}

In [131]:
print(dict1)

{'brush': 10, 'motorcycle': 1}

In [132]:
dict1={'brush':[10,11,12,13,14]}

In [134]:
print(dict1)

{'brush': [10, 11, 12, 13, 14]}

In [135]:
dict1['brush']

[10, 11, 12, 13, 14]

In [137]:
type(dict1['brush'])

list

In [138]:
dict1['brush'][2]

12

In [139]:
dict2={'saaman':dict1}

In [140]:
print(dict2)

{'saaman': {'brush': [10, 11, 12, 13, 14]}}

In [141]:
dict2['saaman']

{'brush': [10, 11, 12, 13, 14]}

In [142]:
type(dict2['saaman'])

dict

In [144]:
dict2['saaman']['brush'][2]

12

In [145]:
dict2={'brush':10}

In [146]:
dict3={'brush':15}

In [147]:
dict2.update(dict3)

In [148]:
print(dict2)

{'brush': 15}

In [149]:
dict4={'fan':15}

In [163]:
dict3={'brush':17}

In [164]:
dict4.update(dict3)

In [165]:
print(dict4)

{'fan': 15, 'brush': 17}

In [166]:
for anything,something in dict4.items():
    print(anything,something)

fan 15
brush 17

In [167]:
#print only keys

In [168]:
all_keys=dict4.keys()

In [171]:
print(all_keys)

dict_keys(['fan', 'brush'])

In [172]:
all_values=dict4.values()

In [173]:
dict(zip(all_keys,all_values))

{'fan': 15, 'brush': 17}

In [174]:
list1=[1,2,3,4,5,6]

In [175]:
list2=[50,60,80,95,13]

In [177]:
newdict=dict(zip(list1,list2))

In [178]:
newdict[1]

50